@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
*{padding:0;margin:0;border:0;}
*,*:before,*:after{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
:focus,:active{outline:none;}
a:focus,a:active{outline:none;}
nav,footer,header,aside{display:block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display:none;}
button{cursor:pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration:none;}
a:hover{text-decoration:none;}
ul li{list-style:none;}
img{vertical-align:top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight:inherit;}

body {
    position: center;
    width: 1700px;
    margin: 0 auto;
    font-family: 'Quicksand', sans-serif;
}
header {
    display: flex;
    width: 100%;
    height: 100px;
    margin: 0 auto;
}
.logo {
    display: flex;
    align-items: center;
    padding: 0 0 0 24px;
    width: 100%;
}
.logo_text {
    font-size: 32px;
    font-weight: bold;
    color: #d9d8d8;
}
.logo_txt_bold {
    color: black;
}
.header_links {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 24px;
    text-decoration: none;
    padding: 0 24px 0 0;
    width: 100%;
}
.header_links1 a{
    padding: 0 20px 0 0;
    color: black;
}
.header_links2 a{
    padding: 0 20px 0 0;
    color: black;
}
.header_links3 a{
    padding: 0 20px 0 0;
    color: black;
}
.header_links4 a{
    color: black;
}
.learn {
    display: flex;
    background-color: #d9d8d8;
}
.learn_img {}
.lrn_img {
    padding: 32px 24px;
    flex: 1 1;
    width: 800px;
}
.lrn_txt_but {
    flex-direction: column;
    width: 900px;
    margin: 0 auto;
}
.lrn_title {
    padding: 150px 0px 0 100px;
    font-weight: bold;
    font-size: 55px;
}
.lrn_text_down {
    padding: 50px 50px 0 100px;
    font-size: 40px;
}
.lrn_but {
    padding: 32px 0 0 100px;
}
.button_start {
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    width: 650px;
    height: 100px;
    background-color: #515151;
    color: white;
}
.keep_practicing {
    display: flex;
    padding-top: 32px;
    background-color: #fcfcfc;
}
.left_column {}
.left_column_image {
    padding: 0 24px 32px 24px;
    width: 800px;
}
.kp_l_title {
    padding: 0 24px 0 24px;
    font-weight: bold;
    font-size: 55px;
    width: 800px;
}
.kp_l_main_txt {
    padding: 24px 24px 24px 24px;
    font-size: 20px;
    width: 800px;
}
.kp_l_sign_txt {
    font-size: 20px;
    width: 800px;
    padding: 0 0 32px 24px;
}
.right_column {}
.right_column_row1 {
    display: flex;
}
.right_column_image1 {
    padding-left: 100px;
    width: 350px;
}
.kp_r_title1 {
    padding: 50px 0 0 40px;
    font-size: 35px;
    font-weight: bold;
}
.kp_r_date1 {
    padding: 24px 0 0 40px;
    font-size: 20px;
}
.links5 {
    padding: 24px 0 0 40px;
    font-size: 20px;
    font-weight: bold;
}
.right_column_row2 {
    display: flex;
}
.right_column_image2 {
    padding: 16px 0 0 100px;
    width: 350px;
}
.kp_r_title2 {
    padding: 50px 0 0 40px;
    font-size: 35px;
    font-weight: bold;
}
.kp_r_date2 {
    padding: 24px 0 0 40px;
    font-size: 20px;
}
.links6 {
    padding: 24px 0 0 40px;
    font-size: 20px;
    font-weight: bold;
}
.right_column_row3 {
    display: flex;
}
.right_column_image3 {
    padding: 16px 0 32px 100px;
    width: 350px;
}
.kp_r_title3 {
    padding: 50px 0 0 40px;
    font-size: 35px;
    font-weight: bold;
}
.kp_r_date3 {
    padding: 24px 0 0 40px;
    font-size: 20px;
    width: 400px;
}
.links7 {
    padding: 24px 0 0 40px;
    font-size: 20px;
    font-weight: bold;
}
